/* body {
    background-color: black;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock{
    background-color: aliceblue;
    display: flex;
} */



/* Better CSS */
body {
    background: black;
}

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fe1773;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
   


}